.App {
  background: #172733;
  color: white;
  min-height: 100vh;
}

.search-box :first-child {
  display: flex;
  flex-direction: row;
  width: 30vw;
  margin: auto;
}

.search-button {
  background: white;
  border: 0;
  padding: 5px;
  margin: 5px;
}

.results {
  display: grid;
  justify-content: center;
}

.track {
  display: flex;
  gap: 10px;
  width: 50vw;
  border: 2px solid white;
  margin: 5px;
}
